<?php

declare(strict_types=1);

/*
 * SplititWebApiV4Lib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SplititWebApiV4Lib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use SplititWebApiV4Lib\Exceptions\ApiErrorResponseException;
use SplititWebApiV4Lib\Exceptions\ApiException;
use SplititWebApiV4Lib\Models\AuthorizeRequest;
use SplititWebApiV4Lib\Models\AuthorizeResponse;
use SplititWebApiV4Lib\Models\CardValidityRequest;
use SplititWebApiV4Lib\Models\CardValidityResponse;
use SplititWebApiV4Lib\Models\InstallmentPlanDetailsResponse;
use SplititWebApiV4Lib\Models\InstallmentPlanSearchDetailsResponse;
use SplititWebApiV4Lib\Models\InstallmentPlanSearchRequest;
use SplititWebApiV4Lib\Models\OffersRequest;
use SplititWebApiV4Lib\Models\OffersResponse;
use SplititWebApiV4Lib\Models\PaymentLinkRequest;
use SplititWebApiV4Lib\Models\PaymentLinkResponse;
use SplititWebApiV4Lib\Models\RefundRequest;
use SplititWebApiV4Lib\Models\RefundResponse;
use SplititWebApiV4Lib\Models\UpdateOffersRequest;
use SplititWebApiV4Lib\Models\UpdateOrderRequest;
use SplititWebApiV4Lib\Models\UpdateOrderResponse;

class InstallmentPlanController extends BaseController
{
    /**
     * @param CardValidityRequest $body
     * @param string|null $xSplititTouchPoint
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititTouchPointHeader Touch point string
     * @param string|null $xSplititRequestID
     *
     * @return CardValidityResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanCheckCardValidity(
        CardValidityRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititTouchPointHeader = null,
        ?string $xSplititRequestID = null
    ): CardValidityResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v1/installmentplans/card-validity')
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPointHeader),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(CardValidityResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param OffersRequest $body
     * @param string|null $xSplititTouchPoint Touch Point
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return OffersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanCreateOffers(
        OffersRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): OffersResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v1/installmentplans/offers')
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(OffersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param PaymentLinkRequest $body
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return PaymentLinkResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanGeneratePaymentLink(
        PaymentLinkRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): PaymentLinkResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v1/installmentplans/payment-link/generate')
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(PaymentLinkResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $installmentPlanNumber
     * @param UpdateOffersRequest $body
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return OffersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanUpdateOffers(
        string $installmentPlanNumber,
        UpdateOffersRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): OffersResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PUT,
            '/api/v1/installmentplans/offers/{installmentPlanNumber}'
        )
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                TemplateParam::init('installmentPlanNumber', $installmentPlanNumber),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(OffersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $installmentPlanNumber
     * @param AuthorizeRequest $body
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return AuthorizeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanAuthorize(
        string $installmentPlanNumber,
        AuthorizeRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): AuthorizeResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/api/v1/installmentplans/{installmentPlanNumber}/authorize'
        )
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                TemplateParam::init('installmentPlanNumber', $installmentPlanNumber),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(AuthorizeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $installmentPlanNumber
     * @param UpdateOrderRequest $body
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return UpdateOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanUpdateOrder(
        string $installmentPlanNumber,
        UpdateOrderRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): UpdateOrderResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PUT,
            '/api/v1/installmentplans/{installmentPlanNumber}/updateorder'
        )
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                TemplateParam::init('installmentPlanNumber', $installmentPlanNumber),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(UpdateOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $installmentPlanNumber
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return InstallmentPlanDetailsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanGetByInstallmentPlanNumber(
        string $installmentPlanNumber,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): InstallmentPlanDetailsResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/v1/installmentplans/{installmentPlanNumber}'
        )
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                TemplateParam::init('installmentPlanNumber', $installmentPlanNumber),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(InstallmentPlanDetailsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param InstallmentPlanSearchRequest $body
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return InstallmentPlanSearchDetailsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanSearch(
        InstallmentPlanSearchRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): InstallmentPlanSearchDetailsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v1/installmentplans/search')
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(InstallmentPlanSearchDetailsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $installmentPlanNumber
     * @param RefundRequest $body
     * @param string|null $xSplititTouchPoint Touch point and version
     * @param string|null $xSplititIdempotencyKey
     * @param string|null $xSplititRequestID
     *
     * @return RefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function installmentPlanRefund(
        string $installmentPlanNumber,
        RefundRequest $body,
        ?string $xSplititTouchPoint = null,
        ?string $xSplititIdempotencyKey = null,
        ?string $xSplititRequestID = null
    ): RefundResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/api/v1/installmentplans/{installmentPlanNumber}/refund'
        )
            ->auth(Auth::and('OAuth2', 'ApiKey'))
            ->parameters(
                TemplateParam::init('installmentPlanNumber', $installmentPlanNumber),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Splitit-TouchPoint', $xSplititTouchPoint),
                HeaderParam::init('X-Splitit-IdempotencyKey', $xSplititIdempotencyKey),
                HeaderParam::init('X-Splitit-Request-ID', $xSplititRequestID)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', ApiErrorResponseException::class))
            ->type(RefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
